<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Toyota - Restorant Yönetim Sistemi</title>
    <%- include requires %>
</head>
<body id="home">
    <%- include navbar %>
    <div class="body">
        <div class="calendar-view">
                    <div class="reservation-query-view">
                    <h2 class="red header ui">Dosya Yükle</h2>
                    <div class="sub header">Aylık menü ya da yardım dosyalarını sisteme yükleyebilirsiniz</div>
                    
                    <div class="menu">
                        
                            <h4>Menü Dosyası</h4>
                            <div class="field">
                                <div class="ui left icon input">
                                    <input id="menuFile" required tabindex="2" type="file">
                                        <i class="file icon"></i>
                                </div>
                            </div>
                            <br>
                            <div class="field">
                                <div class="uploadMenu mini ui down button">
                                    <i class="file icon"></i>
                                    Yükle
                                </div>
                            </div>
                       
                       
                    </div>
            
            
                    <div style="clear:both"></div>
                    
                    <div class="menu">
                        
                            <h4>Yardım Dosyası</h4>
                            <div class="field">
                                <div class="ui left icon input">
                                    <input id="helpFile" required tabindex="2" type="file">
                                        <i class="file icon"></i>
                                </div>
                            </div>
                            <br>
                            <div class="field">
                                <div class="uploadHelp mini ui down button">
                                        <i class="file icon"></i>
                                        Yükle
                                </div>
                            </div>
                        
                        
                    </div>
                    </div>
                <br>
                <div style="clear:both"></div>
                <div style="display:none" class="ui green message"></div>
                <div style="display:none" class="ui active striped progress">
                    <div class="bar" style="width: 30%;"></div>
                </div>
        </div>
    </div>
</body>
</html>
