<div class="view help-view">
        <h3 class="ui red header">Toyota Japon Restorant Yönetim Sistemi
            <div class="sub header">Sisteme başarıyla giriş yaptınız</div>
        </h3>
        <div class="help">
            <h4 class="ui black header">Rezervasyon İşlemleri
                <div class="sub header">Sol üstteki "Rezervasyonlar" menüsünden yeni rezervasyon ekleyebilir, daha önce oluşturduğunuz rezervasyonları  düzenleyebilir ve tüm rezervasyonları görebilirsiniz.</div>
            </h4>
            <h4 class="ui black header">Restoran İşlemleri
                <div class="sub header">"Restorant" menüsünden yeni menü dosyası yükleyebilir, restoran durumunu değiştirebilirsiniz.</div>
            </h4>
            <h4 class="ui black header">Kullanıcı İşlemleri
                <div class="sub header">Yine "Kullanıcılar" menüsünden sisteme yeni kullanıcı ekleyebilir, var olan kullanıcı bilgilerini düzenleyebilir ve tüm kullanıcıları görebilirsiniz.</div>
            </h4>
            <h4 class="ui black header">Yardım Dosyası</h4>
                <div class="sub header"><a href="../../files/<%= data.helpFileUrl %>">İndirme</a> bağlantısından yardım dosyasını bilgisayarınıza kaydedebilirsiniz.</div>
            <h4 class="ui black header">Aylık Menü</h4>
                <div class="sub header"><a href="../../files/<%= data.menuFileUrl %>">İndirme</a> bağlantısından aylık menü dosyasını bilgisayarınıza kaydedebilirsiniz.</div>
            
    </div>
</div><!-- view-help END -->