<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Toyota - Restaurant Yönetim Sistemi</title>
  <%- include requires %>
</head>
<body id="home">
    <%- include navbar %>
<div class="body">
    <div class="new-user-view">
    <%- include user-add-form %>    
    </div>
</div>
</body>
</html>
