<table class="ui small table segment">
  <thead>
    <tr>
        <th>Tarih</th>
        <th>Adı Soyadı</th>
        <th>Kullanıcı Adı</th>
        <th>Öğün Tipi</th>
    </tr>
  </thead>
  <tbody>
      
  </tbody>
</table>