<div class="choiceDiv">
    <div class="ui form">
      <div class="field">
        <label>Başlangıç Tarihi</label>
        <input type="text" class="datepicker start">
      </div>
    </div>
    <div class="ui form">
      <div class="field">
        <label>Bitiş Tarihi</label>
        <input  type="text" class="datepicker end">
      </div>
    </div>
    <div class="ui form">
      <div class="field">
        <label>Kullanıcı Adı</label>
        <input type="text" class="username" placeholder="@kullanici">
      </div>
    </div>
    <div class="ui form">
      <div class="field">
        <label style="opacity:0">l</label>
        <button style="margin-top:-1px" class="ui primary button query">Listele</button>
      </div>
    </div>
</div>
<div style="clear:both"></div>
