
<div style="display:none" class="result">
    <h3 class="ui red header">
        Rezervasyon Tarihi
    <div class="sub header res-date"></div>
  
    </h3>

    <h3 class="ui red header">
  Rezervasyon
</h3>
<div class="ui form">
  <div class="inline field">
    <div class="ui slider checkbox">
      <input class="1" type="checkbox">
      <label>Kahvaltı</label>
    </div>
  </div>
  <div class="inline field">
    <div class="ui slider checkbox">
      <input class="2" type="checkbox">
      <label>Öğle</label>
    </div>
    <label></label>
  </div>
  <div class="inline field">
    <div class="ui slider checkbox">
      <input class="3" type="checkbox">
      <label>Akşam</label>
    </div>
  </div>
</div>
</div>