<script src="../js/libs/jquery.js"></script>
<script src="../js/app/restaurantHTML.js"></script>
<div id="calendar-holder">
<script type="text/javascript">
// <![CDATA[
 var cal = new Calendar();
 cal.generateHTML();
// ]]>
</script>
</div>