<div class="view help-view">
        <h3 class="ui red header">Yetkisiz Erişim
            <div class="sub header">Bu sayfayı görüntülemek için yetkiniz yok</div>
        </h3>
        <div class="help">
            <strong>Bu sayfayı görmenizin nedeni aşağıdakilerden herhangi biri olabilir</strong>
            <hr>
            <br>    - Oturumunuzun süresinin sonlanması, bu durumda yeniden giriş yapmalısınız
            <br>    - Normal kullanıcıların göremeyeceği bir sayfayı görüntülemeyi denemiş olabilirsiniz
            <br>    - Geri döndüğünüzde sorun tekrar ederse yeniden giriş yapmayı deneyin
        </div>
</div><!-- view-help END -->