<h3 class="ui red header">Yeni kullanıcı
            <div class="sub header">Sisteme yeni bir kullanıcı ekleyin</div>
        </h3>
        <div class="ui form">
            <div class="field">
                <label>Ad Soyad</label>
                <div class="ui mini left labeled input">
                    <input type="text" id="name">
                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
                <label>E-posta</label>
                <div class="ui mini left labeled input">
                    <input type="email" id="email">
                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
                <label>Kullanıcı Adı</label>
                <div class="ui mini left labeled input">
                    <input type="text" id="username">
                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
                <label>Parola</label>
                <div class="ui mini left labeled input">
                    <input type="password" id="password">
                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
                <label>Hesap tipi</label>    
                <div class="ui mini left labeled input">
                    <select class="ui selection dropdown" id="auth">
                        <option value="0">Kullanıcı</option>
                        <option value="1">Yönetici</option>
                    </select>
                </div>
            </div>
            <div  class="addNewUser ui primary button small" style="text-transform:none">Kullanıcı Ekle</div>
            <div class="error ui inverted segment">
                    
            </div>
        </div>