<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Toyota - Restorant Yönetim Sistemi</title>
    <%- include requires %>
</head>
<body id="home">
    <%- include navbar %>
    <div class="body">
        <div class="user-list-view">
            <div onClick="window.location='/new-user';" class="ui basic mini button">
                <i class="icon user"></i>Yeni kullanıcı
            </div>
            <div style="clear:both"></div>
            <div class="query-view">
            <%- include userList %>
            </div>
        </div>    
    </div>
</body>
</html>
